.App {
  text-align: center;
}

.button{
  background-color: red;
    color: white;
    padding: 7.25px;
    padding-left: 7px; 
    font-size: 16px;
    border: none;
    cursor: pointer;    
}

.fixedGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 0.2px solid black;  
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 50px;
}

.grid2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 10px;
}

.grid3{
  margin: 30px;
}

.gridButton{
  background-color: red;
    color: white;
    padding: 7.25px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 99%;
}

.gridSquare{
  border: 1px solid black;
  height: 100px;
  text-align: center;
}

h1{
  cursor: pointer;
}

.imageFalse{
  display: none;
}

.sticky{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: white; 
}