.App {
  text-align: center;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 50px;
}

.grid2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 10px;
}

.fixedGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  
}

.gridButton{
  background-color: red;
    color: white;
    padding: 7.25px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 99%;
}

.button{
  background-color: red;
    color: white;
    padding: 7.25px;
    padding-left: 7px; 
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.imageFalse{
  display: none;
}


