.App {
  text-align: center;
}

.button{
  background-color: red;
    color: white;
    padding: 7.25px;
    padding-left: 7px; 
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 0.5px;    
}

.fixedGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 0.2px solid black;  
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 50px;
}

.grid2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 10px;
}

.grid3{
  margin: 30px;
}

.grid4{
  display: grid;
  grid-template-columns: 9fr 1fr;
}

.gridButton{
  background-color: red;
    color: white;
    padding: 7.25px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 99%;
    text-align: center;
}

.gridSquare{
  border: 1px solid black;
  height: 100px;
  text-align: center;
}

h1{
  cursor: pointer;
}

.highScore{
  color: goldenrod;
}

.image{
  height: 80px;
  width: 80px;
}

.imageFalse{
  display: none;
}

.play{
  background-color: red;
  color: white;
  width: 50px;
  cursor: pointer;
  border: none;
  margin: 0.5px;  
}

.play:disabled{
  background-color: lightcoral;
   
}

.sticky{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: white; 
}